@charset "UTF-8";


.header {
    width : 500px;
    height: 200px;
    margin: 2% auto 2% auto;
    overflow: hidden;
}

.content { 
    width : 80%;
    height : auto;
    margin: 0 auto 2% auto;
    overflow: auto;
}

#pic1 {
    margin-right: 2%;
}

#pic2 {
    margin-right: 2%;
}


.footer { 
    margin-top: 1%;
    text-align: center;
    font-size: 10pt;
}

.footer a{
	text-decoration: none;
	color: gray;
}

.right {
	color: gray;
}